{% extends 'base.html' %}

{% block title %}Ecommerce{% endblock title %}

{% block body %}

<div class="container my-3">
<h3 class="text-center">Ecommerce Project</h3>
<hr>
<p class="text-center">Made By - <b> Kiran</b></p>
</div>

<div class="container my-4">
<div class="row featurette my-3">
    <div class="col-md-7">
      <h2 class="featurette-heading">1. Coding</h2>
      <p class="lead">I Enjoy the Programming</p>
    </div>
    <div class="col-md-5">
        <img src="/static/img/ecommerce/1.jpeg" width="400" height="200" alt="">
    </div>
  </div>
  <hr>

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">2. Home Page</h2>
      <p class="lead">This is My Website Home Page</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="/static/img/ecommerce/2.jpeg" width="400" height="200" alt="">

    </div>
  </div>
  <hr>
<div class="row featurette my-3">
    <div class="col-md-7">
      <h2 class="featurette-heading">3. Filter Categories</h2>
      <p class="lead">In This Project Im Filter all Things Mobiles, Laptops, Top Wears and Bottom Wears</p>
    </div>
    <div class="col-md-5">
        <img src="/static/img/ecommerce/3.jpeg" width="400" height="200" alt="">
    </div>
  </div>
  <hr>

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">4. Home Page</h2>
      <p class="lead">This is My Website Home Page. All The Products are fetching by the database when seller add the product in admin panel</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="/static/img/ecommerce/4.jpeg" width="400" height="200" alt="">

    </div>
  </div>
  <hr>
<div class="row featurette my-3">
    <div class="col-md-7">
      <h2 class="featurette-heading">5. Register</h2>
      <p class="lead">User Can Be Registered Account By Puting some credentials</p>
    </div>
    <div class="col-md-5">
        <img src="/static/img/ecommerce/5.jpeg" width="400" height="200" alt="">
    </div>
  </div>
  <hr>

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">6. After the creating account you can see the alerts are showing</h2>
      <p class="lead">This is My Website Home Page</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="/static/img/ecommerce/6.jpeg" width="400" height="200" alt="">

    </div>
  </div>
  <hr>
<div class="row featurette my-3">
    <div class="col-md-7">
      <h2 class="featurette-heading">7. Login Your Account</h2>
      <p class="lead">You Can login your account after creating account</p>
    </div>
    <div class="col-md-5">
        <img src="/static/img/ecommerce/7.jpeg" width="400" height="200" alt="">
    </div>
  </div>
  <hr>

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">8. After Login View</h2>
      <p class="lead">After You Login Your Account You can view the cart and some other facilities</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="/static/img/ecommerce/8.jpeg" width="400" height="200" alt="">

    </div>
  </div>
  <hr>
<div class="row featurette my-3">
    <div class="col-md-7">
      <h2 class="featurette-heading">9. Address </h2>
      <p class="lead">After User can add their own address and save</p>
    </div>
    <div class="col-md-5">
        <img src="/static/img/ecommerce/9.jpeg" width="400" height="200" alt="">
    </div>
  </div>
  <hr>

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">10. Address Save </h2>
      <p class="lead">After Saving Address you can view your address in address page you can save multiple address.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="/static/img/ecommerce/10.jpeg" width="400" height="200" alt="">

    </div>
  </div>
  <hr>
<div class="row featurette my-3">
    <div class="col-md-7">
      <h2 class="featurette-heading">11. Add To Cart</h2>
      <p class="lead">You Can Add your favorite Product to cart so that particular product goes to the user conditions cart table</p>
    </div>
    <div class="col-md-5">
        <img src="/static/img/ecommerce/11.jpeg" width="400" height="200" alt="">
    </div>
  </div>
  <hr>

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">12. Cart</h2>
      <p class="lead">You can putting the items multiple in your cart</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="/static/img/ecommerce/12.jpeg" width="400" height="200" alt="">

    </div>
  </div>
  <hr>
<div class="row featurette my-3">
    <div class="col-md-7">
      <h2 class="featurette-heading">13. Add to Cart</h2>
      <p class="lead">So You can show your all carts items in cart and counting also there</p>
    </div>
    <div class="col-md-5">
        <img src="/static/img/ecommerce/13.jpeg" width="400" height="200" alt="">
    </div>
  </div>
  <hr>

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">14. Cart</h2>
      <p class="lead">Your all cart products going the checkout procedure and you can select your any address which you are saved.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="/static/img/ecommerce/14.jpeg" width="400" height="200" alt="">

    </div>
  </div>
  <hr>
<div class="row featurette my-3">
    <div class="col-md-7">
        <h2 class="featurette-heading">15. Checkout</h2>
        <p class="lead">Your all cart products going the checkout procedure and you can select your any address which you are saved.</p>
      </div>
    <div class="col-md-5">
        <img src="/static/img/ecommerce/15.jpeg" width="400" height="200" alt="">
    </div>
  </div>
  <hr>


  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">16. Orders</h2>
      <p class="lead">User can be view order details</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="/static/img/ecommerce/16.jpeg" width="400" height="200" alt="">

    </div>
  </div>
  <hr>
<div class="row featurette my-3">
    <div class="col-md-7">
      <h2 class="featurette-heading">17. Models</h2>
      <p class="lead">Product, Customer, Cart, OrderPlaced, User(default) This models are Created by this project</p>
    </div>
    <div class="col-md-5">
        <img src="/static/img/ecommerce/17.jpeg" width="400" height="200" alt="">
    </div>
  </div>
  <hr>

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">18. Admin View Orders</h2>
      <p class="lead">Admin can view which customer are placed order and which product</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="/static/img/ecommerce/18.jpeg" width="400" height="200" alt="">

    </div>
  </div>
  <hr>
<div class="row featurette my-3">
    <div class="col-md-7">
      <h2 class="featurette-heading">19. Customer View</h2>
      <p class="lead">After Admin Click Id Of order placed so admin can view which user and which customer are placing the order</p>
    </div>
    <div class="col-md-5">
        <img src="/static/img/ecommerce/19.jpeg" width="400" height="200" alt="">
    </div>
  </div>
  <hr>

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">20. Change Status</h2>
      <p class="lead">Admin Can Be the changed the status like Accepted, Packed, On The Way, Delivered, Cancel</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="/static/img/ecommerce/20.jpeg" width="400" height="200" alt="">

    </div>
  </div>
  <hr>

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">21. Final View Orders</h2>
      <p class="lead">After The Admin Can Be Change Order status Look Like This</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="/static/img/ecommerce/21.jpeg" width="400" height="200" alt="">

    </div>
  </div>
  <hr>

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">21. Search</h2>
      <p class="lead">You Can Also Search The Products by name and brands</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="/static/img/ecommerce/22.png" width="400" height="200" alt="">

    </div>
  </div>
  <hr>

</div>  
    
{% endblock body %}