{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}



<div class="container my-3">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/img/k5.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/img/k1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/img/b5.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

<div class="container my-3">
    <div class="jumbotron">
        <h3 class="text-center"><i>Heaven for Programmers</i></h3>
        <h5 class="text-center">We don't just sell websites, we create websites that SELL</h5>
        <hr class="my-4">
        <p>When I’m working on a problem, I never think about beauty. I think only how to solve the problem.</p>
        <p>But when I have finished, if the solution is not beautiful, I know it is wrong.</p>
        <a class="btn btn-primary btn-lg" href="/projects" role="button">Explore Projects</a>
      </div>

</div>
    
{% endblock body %}
